<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs-CuisineCriticVDA.org</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleabtcont.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>



<section class="about">
    <div class="container">
        <h2>About Us</h2>
        <p>Welcome to CuisineCriticVDA!</p>
         <p>We are passionate about food and dedicated to providing you with the best dining experiences. Our team of food enthusiasts explores various restaurants, tries different cuisines, and shares honest reviews to help you discover new favorites. Whether you're a seasoned foodie or just starting your culinary journey, we're here to guide you to delicious delights.</p>
    </div>
</section>

<footer class="dark-footer">
    <div class="container">
        
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('review') }}">Reviews</a></li>
                <li><a href="{{ url_for('cafes') }}">Cafes</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
            </ul>
        </nav>
    </div>
    <div class="copyright">
        <p>&copy; 2024 CuisineCriticVDA.org. All rights reserved.</p>
    </div>
</header>
</footer>

</body>
</html>
