<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-CuisineCriticVDA.org</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleabtcont.css') }}">
    
</head>
<body>


<section class="contact">
    <div class="container">
        <h2>Contact Us</h2>
        <p>Have a question, feedback, or suggestion? We'd love to hear from you! </p>
        <p>Please feel free to reach out to us using the form below.</p>
        <form action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="access_key" value="ebf0ab5a-beed-4cda-a486-5a3078be4163">
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="email" name="email" placeholder="Your Email" required>
            <textarea name="message" placeholder="Your Message" required></textarea>
            <button type="submit">Send Message</button>
        </form>
    </div>
</section>

<footer class="dark-footer">
    <div class="container">
        <div class="footer-links">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('review') }}">Reviews</a></li>
                <li><a href="{{ url_for('cafes') }}">Cafes</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2024 CuisineCriticVDA.org. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
