<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desserts-CuisineCriticVDA.org</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylefood.css') }}">
    <script src="{{ url_for('static', filename='js/sort.js') }}"></script>
</head>
<body>
    <div class="cafes">
    <div class="restaurant" id="Palooda">
        
        <h2>Palooda</h2>
        <p>"This Palooda shop is a haven for those seeking a diverse culinary experience, offering a tantalizing array of treats ranging from decadent cakes to refreshing faloodas and savory chats. With a variety of flavors and toppings to choose from, patrons can customize their desserts to suit their preferences. The cakes are moist and flavorful, while the faloodas are a refreshing blend of creamy coconut milk, vermicelli, and a medley of toppings. The chats provide a savory contrast to the sweetness, adding depth to the overall dining experience."</p>
        <p>
            <a href="https://maps.app.goo.gl/qCci55uqNkpb7UTTA" target="_blank"><img src="{{ url_for('static', filename='images/loc.png') }}" alt="Location"></a> 
            <a href="https://palooda.com/store-locations/palooda-vatakara/" target="_blank"><img src="{{ url_for('static', filename='images/web.webp') }}" alt="Website"></a> 
            <a href="https://www.instagram.com/palooda_the_dessert_shop" target="_blank"><img src="{{ url_for('static', filename='images/insta.webp') }}" alt="Instagram"></a> 
            <a href="https://youtu.be/eAiDK60IyQw?si=qnHbImQmnsQey4qK" target="_blank"><img src="{{ url_for('static', filename='images/youtube.webp') }}" alt="Youtube"></a>
            <div><a href="{{ url_for('review') }}"><button>Explore Reviews</button></a>
            </div>
        </p>
    </div>

    <div class="restaurant" id="Smoocho">
        
        <h2>Smoocho</h2>
        <p>"Indulge Without Splurging at Smoocho!
            Craving a decadent dessert experience without breaking the bank? Look no further than Smoocho! This budget-friendly gem offers a mouthwatering array of treats, from rich chocolate brownies to luscious strawberry chocolate creations and even the indulgent chocolate tsunami. Despite the luxurious flavors, prices remain surprisingly affordable, making it a guilt-free pleasure for any sweet tooth. Whether you're treating yourself or sharing with friends, Smoocho is the perfect destination for a satisfying and wallet-friendly dessert experience."</p>
    <p>
        <a href="https://maps.app.goo.gl/uEQ1EYneJLr4671w8" target="_blank"><img src="{{ url_for('static', filename='images/loc.png') }}" alt="Location"></a>
        <a href="https://smoo-cho.com/" target="_blank"><img src="{{ url_for('static', filename='images/web.webp') }}" alt="Website"></a> 
        <a href="https://www.instagram.com/smoo_cho" target="_blank"><img src="{{ url_for('static', filename='images/insta.webp') }}" alt="Instagram"></a> 
        <a href="https://youtu.be/TGeWaIqIqHs?si=ymatXWkXKGbx9X86" target="_blank"><img src="{{ url_for('static', filename='images/youtube.webp') }}" alt="Youtube"></a>
        <div><a href="{{ url_for('review') }}"><button>Explore Reviews</button></a>
        </div>
    </p>
    </div>

    
    <div class="restaurant" id="Sweet Little Things">
        
        <h2>Sweet Little Things</h2>
        <p>"Refreshing Delight at sweet little things !
            My recent visit to sweet little things was a delightful experience. With a wide array of flavors available, from classic to exotic, there's something to tantalize every taste bud. What's even better is that their offerings are budget-friendly, making it accessible to all. The creamy goodness of their avil milk was simply irresistible. The ambiance of the shop was inviting, adding to the overall enjoyment of the visit."</p>
        <p>
            <a href="https://maps.app.goo.gl/Lt5SqxYB9aroyyARA" target="_blank"> <img src="{{ url_for('static', filename='images/loc.png') }}" alt="Location"></a>
            <a href="https://portafoliopbrf.my.canva.site/sweet-little-things?fbclid=PAZXh0bgNhZW0CMTEAAaYfJg-ZTQejck4g3ift1iKT-syDeICdA4xkT6DHZL02SCswFo9lw5a7nps_aem_ARiB1ZJvN6Sz0WVtDZmpjjA4lnZXHtH_RKoHckaUT8UelSG0uXpJ2u7h-n27iXUzzLTklT9d3WU-Q680Pg0_C3Rk" target="_blank"><img src="{{ url_for('static', filename='images/web.webp') }}" alt="Website"></a> 
            <a href="https://www.instagram.com/__sweetlittlethings__" target="_blank"><img src="{{ url_for('static', filename='images/insta.webp') }}" alt="Instagram"></a> 
            <a href="https://youtube.com/shorts/ZmIZxD_OXLs?feature=shared" target="_blank"><img src="{{ url_for('static', filename='images/youtube.webp') }}" alt="Youtube"></a>
            <div><a href="{{ url_for('review') }}"><button>Explore Reviews</button></a>
            </div>
        </p>
    </div>

    <div class="restaurant" id="Mev">
        
        <h2>Mev</h2>
        <p>"Mev do offer a wide range of cake flavors, the taste didn't live up to the lofty expectations. Moreover, the prices seemed inflated for what was essentially a mediocre product. The service was passable but nothing exceptional. Overall, mev may have all the cakes, but it's certainly not worth the exaggerated praise it receives."</p>
        <p>
            <a href="https://maps.app.goo.gl/ANeyYqBUtqGGhwUN7" target="_blank"> <img src="{{ url_for('static', filename='images/loc.png') }}"alt="Location"></a>
            <a href="https://www.instagram.com/mev_cakes" target="_blank"><img src="{{ url_for('static', filename='images/insta.webp') }}" alt="Instagram"></a> 
            <a href="https://youtu.be/d2IdAlSQHWw?si=8dXvb7NPvn3a0m3X" target="_blank"><img src="{{ url_for('static', filename='images/youtube.webp') }}" alt="Youtube"></a>
            <div><a href="{{ url_for('review') }}"><button>Explore Reviews</button></a>
            </div>
        </p>
    </div>

    <div class="restaurant" id="Cakefully">
        <h2>Cakefully</h2>
        <p>"Delightful Experience at Cakefully!
            I recently visited cakefully and was blown away by the wide array of flavors available. From classic favorites to more exotic options, there's something for everyone. What's even better is that their prices are budget-friendly, making it accessible to all cake enthusiasts. The service was top-notch, with friendly staff ready to assist. Whether you're looking for a sweet treat for yourself or a special occasion cake, Cakefully is the place to go!"</p>
        <p>
            <a href="https://maps.app.goo.gl/zqhwd2tb6XowgTrG8" target="_blank"> <img src="{{ url_for('static', filename='images/loc.png') }}" alt="Location"></a>
            <a href="https://www.instagram.com/cake_fully/" target="_blank"><img src="{{ url_for('static', filename='images/insta.webp') }}" alt="Instagram"></a> 
            <a href="https://youtu.be/wEcGVtOaQVU?si=5DgPvBN2ujcFYhpC" target="_blank"><img src="{{ url_for('static', filename='images/youtube.webp') }}" alt="Youtube"></a>
            <div><a href="{{ url_for('review') }}"><button>Explore Reviews</button></a>
            </div>
        </p>
    </div>


    <div class="restaurant" id="Bombay Kulfi">
        <h2>Bombay Kulfi</h2>
        <p>"Scrumptious Delights Await at Bombay Kulfi Shop!
            Step into a world of rich flavors and creamy indulgence at Bombay Kulfi.This hidden gem offers an authentic taste of traditional kulfi delights. From classic flavors like pistachio and malai to innovative creations like mango and rose, there's a kulfi to suit every palate. What sets Bombay Kulfi Shop apart is not just its delectable offerings, but also its budget-friendly prices, ensuring that everyone can experience the joy of a frozen treat. With friendly service and a cozy ambiance, a visit to Bombay Kulfi Shop is sure to leave you craving for more."</p>
        <p>
            <a href="https://maps.app.goo.gl/YdrXUGaJp2p8wtNy7" target="_blank"> <img src="{{ url_for('static', filename='images/loc.png') }}" alt="Location"></a>
            <a href="https://bombaykulfi.com" target="_blank"><img src="{{ url_for('static', filename='images/web.webp') }}" alt="Website"></a> 
            <a href="https://www.facebook.com/BombayKulfiOfficial/events/?ref=page_internal&_rdr" target="_blank"><img src="{{ url_for('static', filename='images/fb.png') }}" alt="Facebook"></a> 
            <a href="https://www.instagram.com/bombaykulfi_vadakara" target="_blank"><img src="{{ url_for('static', filename='images/insta.webp') }}" alt="Instagram"></a> 
            <a href="https://youtu.be/ULwagtG2GnE?si=Azd-ZlL10k4XvgsC" target="_blank"><img src="{{ url_for('static', filename='images/youtube.webp') }}" alt="Youtube"></a>
            <div><a href="review.html"><button>Explore Reviews</button></a>
            </div>
        </p>
    </div>

    <div class="restaurant" id="FruitIce">
        
        <h2>FruitIce</h2>
        <p>"Chill Out at Fruitice!
            Looking for a cool treat that won't break the bank? Look no further than Fruitice! This hidden gem offers an array of affordable ice candies and milk ice treats that are sure to satisfy your sweet tooth without emptying your wallet. With a variety of flavors to choose from, there's something for everyone, whether you prefer fruity delights or creamy indulgences. Treat yourself to a refreshing experience at  Fruitice today!"</p>
        <p>
            <a href="https://maps.app.goo.gl/F9aLhZK23tiFs7AQ9" target="_blank"> <img src="{{ url_for('static', filename='images/loc.png') }}" alt="Location"></a>
            <a href="https://www.facebook.com/p/FruitIce-100065313318764/" target="_blank"><img src="{{ url_for('static', filename='images/fb.png') }}" alt="Facebook"></a> 
            <a href="https://www.instagram.com/_fruitice_" target="_blank"><img src="{{ url_for('static', filename='images/insta.webp') }}" alt="Instagram"></a> 
            <a href="https://youtu.be/tP4o920I_Vw?si=_gGSnKYwG65kOrcx" target="_blank"><img src="{{ url_for('static', filename='images/youtube.webp') }}" alt="Youtube"></a>
            <div><a href="{{ url_for('review') }}"><button>Explore Reviews</button></a>
            </div>
        </p>
    </div>


    <div class="restaurant" id="Just Bake">
        
        <h2>Just Bake</h2>
        <p>Delightful Experience at justbake!
            I recently visited justbake and was blown away by the wide array of flavors available. From classic favorites to more exotic options, there's something for everyone. What's even better is that their prices are budget-friendly, making it accessible to all cake enthusiasts. Whether you're looking for a sweet treat for yourself or a special occasion cake,justbake  is the place to go!"</p>
        <p>
            <a href="https://maps.app.goo.gl/QBLxfwynGnsctCLq5" target="_blank"> <img src="{{ url_for('static', filename='images/loc.png') }}" alt="Location"></a>
            <a href="https://www.justbake.in" target="_blank"><img src="{{ url_for('static', filename='images/web.webp') }}" alt="Website"></a>
            <a href="https://www.facebook.com/JustBakeVadakara/" target="_blank"><img src="{{ url_for('static', filename='images/fb.png') }}" alt="Facebook"></a> 
            <a href="https://www.instagram.com/justbakevadakara" target="_blank"><img src="{{ url_for('static', filename='images/insta.webp') }}" alt="Instagram"></a> 
            <a href="https://www.youtube.com/channel/UCRIyEZn_lIXKJu-KFO_igZg" target="_blank"><img src="{{ url_for('static', filename='images/youtube.webp') }}" alt="Youtube"></a>
            <div><a href="{{ url_for('review') }}"><button>Explore Reviews</button></a>
            </div>
        </p>
    </div>
    </div>
</body>
</html>
