<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastFood-CuisineCriticVDA.org</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylefood.css') }}">
    <script src="{{ url_for('static', filename='js/sort.js') }}"></script>
</head>
<body>
    <div class="cafes">
    <div class="restaurant" id="Cafe Fills">
        <h2>Cafe Fills</h2>
        <p>"Cafe Fills offers a diverse menu of fast foods, including loaded fries, rolls, sandwiches, burgers, and drinks, catering to a variety of tastes. The food is flavorful and satisfying, making it a go-to spot for those craving a quick bite. While the food tastes good, the lack of hygiene may be off-putting to some customers. Overall, Cafe Fills provides tasty fast food options but could improve its cleanliness standards to enhance the dining experience for patrons."</p>
        
        <p>
            <a href="https://maps.app.goo.gl/KuYu2T1a9F7b9sKDA" target="_blank"><img src="{{ url_for('static', filename='images/loc.png') }}" alt="Location"></a> 
            <a href="https://www.facebook.com/cafefills" target="_blank"><img src="{{ url_for('static', filename='images/fb.png') }}" alt="Facebook"></a> 
            <a href="https://www.instagram.com/cafe_fills?igsh=eGpsNTdyczRvZ3Fi" target="_blank"><img src="{{ url_for('static', filename='images/insta.webp') }}" alt="Instagram"></a> 
            <a href="https://youtu.be/WQ-T-oEVEEg?si=YhGd1NKHu2_HrZBZ" target="_blank"><img src="{{ url_for('static', filename='images/youtube.webp') }}" alt="Youtube"></a>
            <div><a href="{{ url_for('login2') }}"><button>Explore Reviews</button></a>
            </div>
        </p>
    </div>

    <div class="restaurant" id="Wild Cafe">
        <h2>Wild Cafe</h2>
        <p>"Wild Cafe offers a wide variety of delicious food, including numerous starters, main courses, desserts, and a diverse selection of items such as fries, burgers, pizzas, cakes, and faloodas. The menu caters to a range of tastes, ensuring there's something for everyone to enjoy. What sets Wild Cafe apart is its exceptional service, characterized by promptness, attentiveness, and friendliness, which enhances the overall dining experience.Wild Cafe provides a delightful culinary experience with its diverse menu, excellent service, inviting ambiance, and commitment to cleanliness."</p>
    <p>
        <a href="https://maps.app.goo.gl/MQA9dhRViCzNPgNo8" target="_blank"><img src="{{ url_for('static', filename='images/loc.png') }}" alt="Location"></a>
        <a href="https://palooda.com/wild-cafe-by-paloodd/" target="_blank"><img src="{{ url_for('static', filename='images/web.webp') }}" alt="Website"></a> 
        <a href="https://www.instagram.com/wildcafe.in/?hl=en" target="_blank"><img src="{{ url_for('static', filename='images/insta.webp') }}" alt="Instagram"></a> 
        <a href="https://youtu.be/wgiNTX-IEXo?si=Rb06XcnywiFyjv87" target="_blank"><img src="{{ url_for('static', filename='images/youtube.webp') }}" alt="Youtube"></a>
        <div><a href="{{ url_for('login2') }}"><button>Explore Reviews</button></a>
        </div>
     </p>
    </div>

    
    <div class="restaurant" id="DrinkSide">
        
        <h2>DrinkSide</h2>
        <p>"FastBites in Vadakara offers a wide variety of fast food options, including juicy burgers, wraps, loaded fries, and other tempting selections, all at affordable rates. The diverse menu ensures there's something for everyone, whether you're craving a classic burger or looking to try a new specialty item. The affordability of the meals makes it an attractive option for locals and visitors alike, providing a budget-friendly way to enjoy delicious fast food."</p>
        <p>
            <a href="https://maps.app.goo.gl/PEZcznGc4q11MX2r7" target="_blank"> <img src="{{ url_for('static', filename='images/loc.png') }}" alt="Location"></a>
            <a href="https://www.instagram.com/_drinkside/" target="_blank"><img src="{{ url_for('static', filename='images/insta.webp') }}" alt="Instagram"></a> 
            <a href="https://youtu.be/rl39kelq6og?si=MjdnVg2lxvxHpL4w" target="_blank"><img src="{{ url_for('static', filename='images/youtube.webp') }}" alt="Youtube"></a>
            <div><a href="{{ url_for('login2') }}"><button>Explore Reviews</button></a>
            </div>
        </p>
    </div>

    <div class="restaurant" id="Abookka Makkani">
        
        <h2>Abookka Makkani</h2>
        <p>"Abooka Makani impresses with its delectable offerings, notably the Shawarma Al Faham Mandi, served at pocket-friendly rates without compromising on quality. The Shawarma Al Faham bursts with savory flavors, perfectly seasoned and grilled to perfection, while the Mandi adds a delightful aromatic touch to the dish. The affordability combined with the tantalizing taste makes it a go-to spot for those craving authentic Middle Eastern cuisine."</p>
        <p>
            <a href="https://maps.app.goo.gl/YPVbN51vXmdhxhJz9" target="_blank"> <img src="{{ url_for('static', filename='images/loc.png') }}" alt="Location"></a>
            <a href="https://www.facebook.com/abookkamakkaani/" target="_blank"><img src="{{ url_for('static', filename='images/fb.png') }}" alt="Facebook"></a> 
            <a href="https://www.instagram.com/abookka_makkaani/?hl=en" target="_blank"><img src="{{ url_for('static', filename='images/insta.webp') }}" alt="Instagram"></a> 
            <a href="https://youtu.be/azawTMVjRNs?si=QOgukyxoz-rhqIBK" target="_blank"><img src="{{ url_for('static', filename='images/youtube.webp') }}" alt="Youtube"></a>
            <div><a href="{{ url_for('login2') }}"><button>Explore Reviews</button></a>
            </div>
        </p>
    </div>

    <div class="restaurant" id="Depot RestoCafe">
        
        <h2>DePot RestoCafe</h2>
        <p>"Depot Cafe offers a winning combination of delicious comfort food and entertainment, making it a go-to spot for casual dining. Their burgers, pizza, broasted chicken, and loaded fries boast flavorful ingredients and generous portions, all at affordable rates. The addition of games enhances the laid-back atmosphere, providing patrons with a fun and interactive dining experience. With its welcoming ambiance and satisfying menu, it's the perfect destination for a relaxed meal with friends or family."</p>
        <p>
            <a href="https://maps.app.goo.gl/nFoiaYERPFdmX7VT9" target="_blank"> <img src="{{ url_for('static', filename='images/loc.png') }}" alt="Location"></a>
            <a href="https://www.instagram.com/depotrestocafe/" target="_blank"><img src="{{ url_for('static', filename='images/insta.webp') }}" alt="Instagram"></a> 
            <a href="https://youtu.be/P8T3Vu_KtjU?si=XacobkcmBPa7Ihma" target="_blank"><img src="{{ url_for('static', filename='images/youtube.webp') }}" alt="Youtube"></a>
            <div><a href="{{ url_for('login2') }}"><button>Explore Reviews</button></a>
            </div>
        </p>
    </div>
    
    </div>
</body>
</html>
