<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - CuisineCriticVDA.org</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesignlog.css') }}">
    <script src="{{ url_for('static', filename='js/signup2.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .password-container {
            position: relative;
        }
        .toggle-password {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: lightgrey;
        }
    </style>
</head>
<body>

<div class="container">
    <form action="/cafes" method="get" class="signup-form" id="signupForm">
        <h1>Sign Up</h1>
        <div class="input-group">
            <input type="text" id="username" name="username" placeholder="Username" required>
        </div>
        <div class="input-group">
            <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="input-group password-container">
            <input type="password" id="password" name="password" placeholder="Password" required>
            <span class="toggle-password" id="togglePassword1">
                <i class="fas fa-eye"></i>
            </span>
        </div>
        <div class="input-group password-container">
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password" required>
            <span class="toggle-password" id="togglePassword2">
                <i class="fas fa-eye"></i>
            </span>
        </div>
        <button type="submit" class="btn">Sign Up</button>
        <p class="login-link">Already have an account? <a href="{{ url_for('login2') }}">Log in</a></p>
    </form>
</div>

</body>
</html>
